body {
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.site-title {
    color: darkcyan;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 12px;    
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25.00%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50.00%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75.00%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100.00%; }

[class *="col-"] {
    float: left;
    /* padding: 8px 12px; */
    /* border: 2px solid darkcyan;
    border-right: 2px solid cyan;
    border-bottom: 2px solid cyan; */
  }


.menu--banner {
    width: 600px;
    border: 1px solid black;
    padding: 8px 12px;;
    background: darkcyan;
    text-decoration: none;
    /* text-align: center; */
}

.menu--banner2 {
    width: 600px;
    height: 24px;
    border: 1px solid black;
    padding: 8px 12px;
    background: cyan;
    text-decoration: none;
    /* text-align: center; */
}

.logo--position {
    padding-left: 16px;
}

.menu--position {
    padding-left: 16px;
    text-align: center;
}

.teaser {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    padding: 8px 12px;
    /* background-image: url(http://cdn2.architektura.smcloud.net/t/photos/t/34985/lublin-csk-0208mc-copy_167789.jpg); */
    background-image: url('images/lublin-csk.jpg');
    background-repeat: no-repeat;
    text-decoration: none;
    color: darkcyan;
    text-align: center;
}

.features-banner {
    width: 600px;
    border: 1px solid black;
    padding: 8px 12px;
    background: darkcyan;
    text-decoration: none;
}

.features {
    width: 600px;
    border: 1px solid black;
    padding: 8px 12px;
    background: darkcyan;
    text-decoration: none;
}

.team {
    width: 600px;
    height: 120px;
    border: 1px solid black;
    padding: 8px 12px;
    background: darkcyan;
    text-decoration: none;
}

.team2 {
    width: 600px;
    height: 120px;
    border: 1px solid black;
    padding: 8px 12px;
    background: cyan;
    text-decoration: none;
}

.team__faces {
    height: 100px;
}

.formular {
    width: 600px;
    border: 1px solid black;
    padding: 8px 12px;
    background: darkcyan;
    text-decoration: none;
}


.stopka {
    width: 600px;
    border: 1px solid black;
    padding: 8px 12px;
    background: darkcyan;
    text-decoration: none;
}




#ja-mainnav li { /* all list items */
	float: left;
	margin: 0;
	padding: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}